Header {
	background: #000000;
	padding: 20px 0;
}

.caixa {
	position: relative;
	width: 940px;
	margin: 0 auto;
}

nav {
	position: absolute;
	top: 110px;
	right: 0;
}
nav li {
	display: inline;
	margin: 0 0 0 15px;
}

nav a {
	text-transform: uppercase;
	color: #ff0000;
	font-weight: bold;
	font-size: 20px;
	text-decoration: none;
}

nav a:hover {
	color: #000000;
	text-decoration: underline;
}


.principal{
    background-color: rgb(255, 0, 0);
    padding: 30px;
}
.titulo-principal{
    padding-left:40px;
    text-align: left;
}
.titulo-centralizado{
    text-align: center;
    font-size: 40px;
}
#img-home{
   width: 100%;
}
p{
    text-align: center;

}
#mensagem-motivadora{
    font-size: 30px;

}

.secimg {

    height: 700px;
    background-image: url(imagenskenerdoperformance/motor-honda-si.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: auto;
    
  
}


em strong{
    color: hsl(0, 0%, 0%);
    font-size: 30px;
    font-weight: bold;
}

.itens{
    font-style: italic;
}
.imagem{
    width: 50%;
}
footer{
    text-align: center;
    background:url("imagenskenerdoperformance/FUNDO.jpg");
    padding: 40px 0;
    color: #ff0000;
}